#i1{
    width:500px;
    font-family: comic sans ms;
}
#i2{
    font-family: comic sans ms;
    width: 500px;
    height: 160px;
}
h1{
    text-align: center;
}
table{
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
}