body{
    background-color: white;
    margin: 0;
    font-family: arial;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
a{
    text-decoration: none;
    color:black;
}
#i1{
    width:500px;
    font-family: comic sans ms;
}
#i2{
    font-family: comic sans ms;
    width: 500px;
    height: 160px;
}
h1{
    text-align: center;
}
#m-table table{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    text-align: center;
}
#m-table td{
    padding: 5px;
    height: 150px;
}
#m-table tr:nth-child(2n+1) {
    background-color: #24292f;
    padding: 9px;
    color: white;
}
#m-table tr:nth-child(2n) {
    background-color: #703232;
    padding: 9px;
    color: white;
}
#block{
    display: inline-block;
    width: 100%;
    background-color: #703232;
    text-align: center;
    height: 100px;
}
#block1
{
    padding: 30px;
}
#block:hover{
    background-color: dimgrey;
    transition: 2s;

}
h1{
    padding:9px;

}
#a1{
    color:black;
    text-decoration: none;
    font-style: italic;
    font-size: 20px;

}
#logowanie_a{
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    color: white;
    display: block;
    width: 150px;
    padding: 25px;
    background-color: #703232;
    border: 2px solid white;

}
#rejestracja_a{
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    color: white;
    display: block;
    width: 150px;
    padding: 25px;
    background-color: #703232;
    border: 2px solid white;

}
#add_wpis{
    width: 100%;
    height: 100px;
    background-color: #24292f;
    color:white;

}
#add_form
{
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}
#main-welcome{
    flex-direction: row-reverse;
}
#log{
    width: 50%;
    height: 100px;
    float:left;
    margin-left: auto;
    background-color: #24292f;
    color: white;
    text-align: center;
}
#rej{
    text-align: center;
    color: white;
    background-color: #24292f;
    width: 50%;
    float:left;
    height: 100px;
    margin-right: auto;
}
#wpi{
    clear:both;
}
#wyl{
    width: 100%;
    background-color: #24292f;
    height: 100px;
    font-size: 30px;
    display: inline-block;
}
#wyl:hover{
    background-color: #2A3B34;
    transition: 2s;
}
#wyloguj{
     text-align: center;
     border: 1px solid black;
     display: block;
     width: 100;
     padding: 15px;
     border-radius: 20%;

 }

#wyloguj:hover{
    border:1px solid darkred;
    background-color: darkred;
    transition: 2s;
    color:white;
    border-radius: 30%;
}
#wyloguj_a{
    text-decoration: none;
    color:black;

}
#rej-form{
    width: 20%;
    margin-left:auto;
    margin-right: auto;
}
#l-table{
    width: 100%;
    background-color:#703232;
    color:white;
}
#l-table table{
    margin-left:25%;

}
#l-table a{
    margin-left: 25%;
}
#r-form{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #703232;
    height: 100px;
    color:white
}
#r-form table{
    margin-left:25%;

}
#r-form a{
    margin-left: 25%;
}
#lll
{
    color:blue;
}
#r-form-table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
#l-table-form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
footer{
    width: 100%;
    /*background-color: #071419;*/
    background-color: #24292f;
    clear: both;
    height: 200px;
    margin-top: auto;
}
.submit1{
    background-color: #703232;
    color:white;
    border: 2px solid #703232;
    padding: 5px;
    cursor: pointer;
}
#main-welcome{
    width: 100%;
    background-color: #703232;
    color:white;
}
.submit2
{
    background-color: #24292f;
    color:white;
    border: 2px solid #24292f;
    padding: 5px;
    cursor: pointer;
}
#powrot:hover{
    color:#703232;
    transition: 2s;
}