.body{
    font-family: Arial;
}
#block{
    border-collapse: collapse;
    border: 3px solid black;
}
#gra table{
    border: 3px solid black;
    border-collapse: collapse;
}
#gra td{
    background-color: dimgrey;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
}
button{
    background-color: darkgrey;
    width: 29px;
    height: 29px;
}
button:hover{
    background-color: lightslategray;
    transition: 0.2s;
}
#stronka{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    padding: 60px;
    margin-top:30px;
    border-radius: 5%;
}
#gra{
    display: block;
    width: 100%;
}
#formy{
    width: 22%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border-radius: 10%;
}
table .forma{
    border: none;
    background-color: ghostwhite;

}